

body {
    margin: 0;
    font-family: Fustat;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-weight: 800;
}

p {
    margin: 0;
    font-weight: 300;
}

.moving-clouds {
    position: absolute;
}

#big-cloud {
    position: absolute;
    height: 300px;
    top: 5px;
    left: 0px;
    animation: cloud-move 45s linear  infinite forwards;
}

@keyframes cloud-move {
    from {
        transform: translateX(-20vw);
        opacity: 0;
    }
    5% {
        opacity: 100;
    }
    90% {
        opacity: 100;
    }
    to {
        transform: translateX(100vw);
        opacity: 0;
    }    
}


.hero-container {
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(122, 187, 228); */
    gap: 10px;
}

.hero-heading {
    color: white;
}

.hero-text {
    color: rgb(255, 255, 255);
}

.signup-btn{
    padding: 10px 35px;
}
.login-btn {
    padding: 10px 40px;
}

.signup-btn,
.login-btn {
    border: none;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.3s;
    font-family: inherit;
    font-weight: bold;
}

.signup-btn:hover,
.login-btn:hover {
    background-color: rgb(141, 220, 245);
    cursor: pointer;
}

.spacer {
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(../svg/grass.svg);
    position: absolute;
    z-index: -1;
}